
body {
    padding: 30px;
    margin: 0;
    font-family: 'Times New Roman', serif; 
    background-color: #3b6da4;
    color: #d11d1d;
    transition: background-color 0.3s ease;
}

.main-title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
}


.color-container {
    border: 1.5px solid #ccc;
    padding: 25px;
    width: fit-content;
    min-width: 600px;
}

legend {
    color: #d11d1d;
    font-weight: bold;
    font-size: 1.2rem;
}


.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.label-text {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 15px;
}


input[type="color"] {
    -webkit-appearance: none;
    border: 4px solid #d8d8d8; 
    border-radius: 4px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    background: none;
    padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}


.btn-simpan {
    margin-top: 10px;
    padding: 2px 10px;
    font-size: 0.9rem;
    background-color: #f0f0f0;
    border: 1px solid #767676;
    border-radius: 3px;
    cursor: pointer;
}

.btn-simpan:hover {
    background-color: #e0e0e0;
}