/*  saya mengerjakan tugas ini dibantu temen saya Novila dan tanpa melakukan kecurangan seperti menggunakan, 
 mendupliaksi kode perogram kode program yang ada. jia saya melakukan kecurangan dalam 
 perngerjaan tugas ini maka saya siap menerima sanksi atau hukuman dari dari dosen mata kuliah 
 dan tuhan / allah  swt */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #4D83AA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


.container {
    width: 800px;
    background: linear-gradient(to right, #4D83AA 300px, white 300px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    min-height: 600px;
}


.header {
    background-color: #E2D800;
    position: relative;
    text-align: center;
    padding: 25px 0;
}


.header::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    background-image: radial-gradient(circle, #4D83AA 30%, transparent 30%);
    background-size: 20px 20px;
}

.wrapper {
    display: flex;
}


.sidebar {
    width: 300px;
    padding: 20px;
    color: #032152;
    background-color: white;
    border-right: 3px dotted #032152;
}

.sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px dotted #032152;
    padding-bottom: 5px;
}

.sidebar a {
    text-decoration: none;
    color: #4D83AA;
    display: block;
    margin-bottom: 5px;
}

.sidebar a:hover {
    text-decoration: underline;
}

.search-box {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.search-box input {
    border: 1px solid #ccc;
    padding: 4px;
    width: 140px;
    font-size: 12px;
}

.search-box button {
    background-color: #ddd;
    border: 1px solid #999;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
    border-radius: 3px;
}


.main {
    width: 500px;
    padding: 30px;
}

.main h2 {
    color: #032152;
    font-family: "Comic Sans MS", cursive;
    font-size: 24px;
    margin-bottom: 20px;
}


.custom-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    max-width: 350px;
    border-top: 5px solid #032152;
    border-bottom: 5px solid #032152;
    border-radius: 6px;
    overflow: hidden;
    font-size: 14px;
}

.custom-table th {
    padding: 10px;
    background-color: #9CBCD0;
    color: #032152;
    font-weight: normal;
    text-align: center;
}

.custom-table td {
    padding: 8px;
    text-align: center;
    background-color: #9CBCD0;
    color: white;
}

.custom-table tfoot td {
    background-color: white;
    color: #032152;
    font-size: 12px;
    padding: 10px;
}
